{% extends "website_base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content_inner %}

            <div class="section-bg">
                <div class="container-fluid">
                    <div class="col-lg-12">
                        <div class="text overflow">
                            <h1 class=" text-center">Contact us</h1>
                            <p><a href="#">Team@Heavenswall.com </a> We are open to any sugestions or inquairy.</p>
                            <h4>How to create an account?</h4>
                            <p>Enter your<strong> E-mail address</strong> and Select your presonal <strong>password</strong>.</p>
                            <h4>How to create a profile?</h4>
                            <p>From your <strong>HOME PAGE</strong> click on <strong>ADD NEW PROFILE</strong> fill up the form accordingly and
                                select the Profile picture by clicking <strong>BROWSE</strong> which navigates you throughtout your device,
                                select your pre-saved picture then click <strong>SUBMIT</strong> whenever you are ready to finalize your profile,
                                Please allow the system to take in your profile. You can always revise and correct your profile
                                whenever is needed <strong>( YOU CAN CREATE UNLIMITED PROFILES).</strong></p>
                            <h4>How can I add Video?</h4>
                            <p>
                                Sign in, in home page select your profile which you want to add a video click on <strong>ADD VIDEOS</strong>

                                insert the title of video then go to video poster click on <strong>BROWSE</strong> which navigates you throughout

                                your device select your pre-saved video

                                ( THE SITE ONLY TAKES ogv, mp4 or webm format WITH MAXIMUN OF 7 MIN)

                                Repeat the same action on" Video*" by clicking on video <strong>BROWSE.</strong>

                                <strong>This might take saveral minutes depending on the speed of your internet. </strong>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
{% endblock %}
{% block extra_js %}
{% endblock %}



