<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
<body>

<h1>Log in Here</h1>
<form method="POST" action="login">
    {% csrf_token%}
    <table>
        <tr>
            <td>Username:</td><td><input type="text" name="username" placeholder="enter your name" ></td>
        </tr><br/>
        <tr>
            <td>Password:</td><td><input type="password" name="password" placeholder="enter your password" ></td>
        </tr><br/>

    </table>
   <button type="submit">Login</button>

</form>


</body>
</center>

</html>